
@{
    ViewData["Title"] = "Verify E-mail";
}

<h2>@ViewData["Title"]</h2>

<p class="text-info" onload="setTimeout()">
    Please check your email and confirm your email address.
</p>

<div>Redirecting to Home page in <span id="timer"></span> seconds.</div>

<script>

    setTimeout(function () {
        window.location.href = "/Home/Index";
    }, 9000);

    document.getElementById('timer').innerHTML = 10;
    startTimer();

    function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var s = checkSecond((presentTime - 1));


        document.getElementById('timer').innerHTML = s;

        setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
        if (sec < 0) { sec = "59" };
        return sec;
    }

</script>

