@model LionsFeed.ViewModel.Account.ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="Layout">

    @await Html.PartialAsync("LeftBar")

    <div class="col-md-6">
        <h1 style="font-family: 'Century Gothic'">Enter your WNumber</h1>
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WNumber" class="control-label">W#</label>
                <input asp-for="WNumber" class="form-control" style="border-radius:25px; border: 1px solid green; width: 400px;">

                <span asp-validation-for="WNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>

    <script type="text/javascript">
        $('.southeastern-logo').tilt({                                         /*Cool Tilt effect on SELU Logo*/
            glare: true,
            maxGlare: .5
        })

    </script>
}

