

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  <!-- /*cool logo*/ -->
<div class="col-md-2">
    <img class="southeastern-logo" src="https://hoopdirt.com/wp-content/uploads/2015/09/000000.gif" style="width:95%; float:left;" align="left" class="southeastern-logo">
    <br><br><br><br><br><br><br>

    <a href="http://www.southeastern.edu/"><input type="submit" value="SELU " class="btn btn-default"></a><br>
    <a href="https://moodle.selu.edu/moodle/"><input type="submit" value="Moodle" class="btn btn-default"></a><br>
    <a href="https://gdata.selu.edu/simplesaml/auth/login.php?RelayState=https%3A%2F%2Fgdata.selu.edu%2Fsimplesaml%2Fsaml2%2Fidp%2FSSOService.php%3FRequestID%3D_8c82c08a55c0694a781451728a1dc562080a2fd331&AuthId=_8c82c08a55c0694a781451728a1dc562080a2fd331&protocol=saml2#"><input type="submit" value="Web Mail" class="btn btn-default"></a>

</div>
