@{
}
<h2>@ViewData["Title"]</h2>

<div class="cl">
    <div class="wel">
        <h1> What is LionsFeed?</> </h1> <br />
        <font size="3">
            Lions feed is a platform where students of Southeastern can share their talent and creative work.
            It's another main objective is to keep all the users updated with Campus Activities and various events organized
            in campus. It is a digital format of Newsletter for all students!
        </font>
    </div>
</div>


