@{
    ViewData["Title"] = "Contact US";
}
<h2><b><font color="#FFA500"> @ViewData["Title"]</h2></font></b>
<font color="green">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>TEAM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> Team Leader </th>
                <td> Saugat Thapa </td>
            </tr>
            <tr>
                <th> Team Members </th>
                <td> Nishma Maskey </td>
            <tr>
                <th></th>
                <td> Anish Manandhar </td>
            </tr>
            <tr>
                <th></th>
                <td> Krishna Paudel </td>
            </tr>
            <tr>
                <th>
                    Contact Us:
                </th>
                <td>
                    <a href="">selu.lionsfeed@gmail.com</a>

                </td>
            </tr>
        </tbody>
    </table>
</font>
